{
  "env": {
    "jest": true
  },
  "extends": ["@antfu"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-restricted-imports": [
      "error",
      {
        "paths": ["vql"]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "playground/**/*.*"
      ],
      "rules": {
        "no-restricted-imports": "off"
      }
    }
  ]
}